<p>vieworder works!</p>
<div class="container">
    <div class="d-inline p-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EasyCart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/product">Home</a>
          <a class="nav-link" routerLink="/viewproduct">View Products</a>
          <a class="nav-link" routerLink="/catlist">MyCart</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="table-responsive">
      <table class="table table-hover">
        <thead>
            <tr>
                <th>Order Id</th>
              <th>Customer Id</th>
              <th>Total Price</th>
           <!--   <th>Address</th>
              <th>City</th>
  <th>State</th>
            <th>Pin</th>
              <th>Country</th>
              <th>Phone</th>
              <th>Email</th>
              <th>Status</th>-->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of order ">
              <td>{{p.orderId}}</td>
              <td>{{p.customerId}}</td>
              <td>{{p.price}}</td>
              <!--<td>{{p.address}}</td>
              <td>{{p.city}}</td>
              <td>{{p.state}}</td>
              <td>{{p.pin}}</td>
              <td>{{p.country}}</td>
              <td>{{p.phone}}</td>
              <td>{{p.email}}</td>
              <td>{{p.status}}</td>-->
  
  
  
  
          </table>
    </div>
    </div>